.jims8am_section .intro-style4__bottom::before {
    background-color: #f6f6f6;
}
.intro-style4__top {
    margin-bottom: 50px;
}
.intro-style4__left {
    max-width: 100%;
}
.intro-style4__left .sec-title h2 {
    margin-bottom: 15px;
}